<h1>Welcome!</h1>

<%= form_tag("/search", method: "post", id: "ingredient_form") do %>
  <input type="text" id="search"/>
  <input id="submit" type="submit"/>
<%end%>

<div class="searchresults"></div>

<p>
  Don't know what to do with the left-over spinach and chicken in your fridge? That's why the Railsfood app was created! Railsfood matches the ingredients you have with tasty recipes from around the world.
</p>